body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* 


.course__content {
  flex: 1 0 0%;
  width: auto;
} */

.course__container {
  margin-bottom: 30px !important;
}

.course__image {
  min-width: 200px;
  min-height: 200px;
}

.mb-2 {
  margin-bottom: 2rem;
}
